<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://RBT2012DB\SQLEXPRESS2014;databaseName=ICHUL</property>
		<property name="hibernate.connection.username">biometric</property>
		<property name="hibernate.connection.password">ray1@3</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping resource="MachineDetails.hbm.xml" />
	</session-factory>
</hibernate-configuration>